<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Website Carbon Audit - Coming Soon</title>
            <meta name="description" content="What is the environmental impact of your website, and how can you reduce it? Find out where to start with a Website Carbon Audit.">
            <meta name="theme-color" content="#a2b065">
            <link rel="canonical" href="{{ site.baseURL }}{{ page.url }}">
            {% analytics %}
        </head>
        <body>
            <a
  class="skip-link"
  href="#main-content">Skip to content</a
>

{% include "partials/header" %}
    <main id="main-content" class="wrapper flow">{{ content | safe }}</main>
    {% include "partials/footer" %}
    
</body>
</html>