---
title: Homepage
layout: base
---
<h1 class="xl text-center">
    <span data-color="primary">Website</span><br>
    <span>Carbon</span><br>
    <span data-color="primary">Audit</span>
</h1>
<p class="subtag text-center">What is the
    <span class="marker-highlight" data-highlight="accent-dark">environmental impact</span>
    of your website, and how can you
    <span class="marker-highlight" data-highlight="accent-dark">reduce it</span>?</p>
<a class="h4 button pill text-center" data-color="primary-dark" href="#register">Available from April, 2021</a>

<aside class="boxed text-center flow" data-box-color="dark">
    <p class="h3">Did you know?</p>
    <div id="didyouknow"></div>
    <script async src="/js/did-you-know.mjs" type="module"></script>
    <script async nomodule="" src="/js/did-you-know.js"></script>
    <noscript>
        <p>Making a 1kB reduction to a file loaded on over 2 million websites resulted in an estimated
            <strong class="marker-highlight" data-highlight="accent-dark">2950kg less CO<sub>2</sub>
            </strong>
            being produced.</p>
        <p>Source:
            <a href="https://dannyvankooten.com/website-carbon-emissions/" rel="noopener" target="_blank">Danny van Kooten</a>
        </p>
    </noscript>
</aside>

<section class="text-center">
    <h2>Start reducing your site's carbon footprint!</h2>
    <p>Reducing your website's carbon footprint is one of the easiest carbon reduction steps to take. Find out where to start with a Website Carbon Audit.</p>
</section>

<!-- <p>A Website Carbon Audit is an examination of your website focusing primarily on the ...</p> -->
<div class="fluid-grid">
    <aside class="boxed flow" data-box-color="light" data-flipped>
        <img alt="" decoding="async" height="208" loading="lazy" src="/svg/estimate.svg" width="278">
        <p class="h3">Estimate your site's carbon footprint</p>
        <p>Get an estimate of your entire website's carbon footprint, and break it down page by page.</p>
    </aside>
    <aside class="boxed flow" data-box-color="light" data-flipped>
        <img alt="" decoding="async" height="208" loading="lazy" src="/svg/improve.svg" width="278">
        <p class="h3">Identify how to best reduce emissions</p>
        <p>Learn what changes you make to your site that will reduce it's overall environmental impact.</p>
    </aside>
    <aside class="boxed flow" data-box-color="light" data-flipped>
        <img alt="" decoding="async" height="208" loading="lazy" src="/svg/webvitals.svg" width="278">
        <p class="h3">Improve your site's Core Web Vitals</p>
        <p>Ensure your site's key performance metrics remain strong as you reduce emissions.</p>

        <p>
            <a href="https://www.fershad.com/blog/posts/core-web-vitals-google-search/#main-content" rel="noopener" target="_blank">What are Core Web Vitals?</a>
        </p>
    </aside>
</div>


<section class="full-width" data-highlighted="accent" id="register">
    <div class="wrapper text-center">
        <h2>Sign up for an early access discount</h2>
        <p>You'll be able to request a Website Carbon Audit from
            <strong>April, 2021</strong>.</p>
        <p class="subtag">Audits will start from US$120</p>
        <p>You can provide your email address using the form below & I'll let you know when requests are open. I'll even throw in an early-access discount to say thanks!</p>
        <form action="https://buttondown.email/api/emails/embed-subscribe/WebsiteCarbonAudit" class="embeddable-buttondown-form" data-content="narrow" method="post" onsubmit="window.open('https://buttondown.email/WebsiteCarbonAudit', 'popupwindow')" target="popupwindow">
            <label for="bd-email">Your email address
                <input id="bd-email" name="email" required type="email"/></label>
            <input name="embed" type="hidden" value="1"/>
            <input class="button pill" data-color="primary-dark" type="submit" value="Subscribe"/>
            <p>
                <a href="https://buttondown.email" rel="noopener" target="_blank">Powered by Buttondown.</a>
            </p>
            <p>
                Your email won’t be shared with anyone else. See the
                <a href="{{ site.privacyURL }}">privacy policy</a>
                for more information.
            </p>
        </form>
    </div>
</section>