---
title: Homepage
layout: base
---
<h1 class="xl text-center">Website Carbon Audit</h1>
<section class="boxed text-center flow" data-box-color="dark" id="intro" style="margin-top: var(--size-500);">
    <p class="subtag">Do you know your
        <br>website's environmental impact?</p>
</section>
<p class="h4 pill text-center" data-color="primary-dark">Available in April, 2021</p>


<section class="" id="facts">
    <!-- <p>A Website Carbon Audit is an examination of your website focusing primarily on the ...</p> -->
    <div class="fluid-grid">
        <aside class="boxed" data-box-color="light" data-flipped>
            <p class="h3">Estimate your site's carbon footprint</p>
            <p>Get an estimate of your entire website's carbon footprint at a per page level.</p>
        </aside>
        <aside class="boxed" data-box-color="light" data-flipped>
            <p class="h3">Identify how to best reduce emissions</p>
            <p>Learn what changes you make to your site that will reduce it's impact.</p>
        </aside>
        <aside class="boxed" data-box-color="light" data-flipped>
            <p class="h3">Improve your site's Core Web Vitals metrics</p>
            <p>Ensure your site's performance remains strong as you reduce emissions.</p>
        </aside>
    </div>
</section>

<section class="text-center" id="first-cta">
    <h2>Start reducing your site's impact!</h2>
    <p>Reducing your site's carbon footprint is one of the easiest carbon reduction steps to take. Find out where to start with a Website Carbon Audit.</p>
</section>

<section class="full-width" data-highlighted="accent">
    <div class="wrapper text-center">
        <h2>Sign up for an early access discount</h2>
        <p>You'll be able to request a Website Carbon Audit from
            <strong>April, 2021</strong>.</p>
        <p>You can provide your email address using the form below & I'll let you know when requests are open. I'll even throw in an early-access discount to say thanks!</p>
        <form action="https://buttondown.email/api/emails/embed-subscribe/WebsiteCarbonAudit" class="embeddable-buttondown-form" data-content="narrow" method="post" onsubmit="window.open('https://buttondown.email/WebsiteCarbonAudit', 'popupwindow')" target="popupwindow">
            <label for="bd-email">Your email address
                <input id="bd-email" name="email" type="email"/></label>
            <input name="embed" type="hidden" value="1"/>
            <input class="button pill" data-color="primary-dark" type="submit" value="Subscribe"/>
            <p>
                <a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
            </p>
            <p>
                Your email won’t be shared with anyone else. See the
                <a href="{{ site.privacyURL }}">privacy policy</a>
                for more information.
            </p>
        </form>
    </div>
</section>