.button {
  text-decoration: none;
  /* background: var(--dark-green);
  color: var(--lightest); */
  font-size: var(--size-500);
  margin-top: var(--size-500);
  margin-bottom: var(--size-500);
  display: inline-block;
}

.button[data-color="primary"] {
  background-color: var(--color-primary);
  color: var(--color-dark);
  /* text-shadow: -1px -1px 0 var(--color-primary), 1px -1px 0 var(--color-primary),
    -1px 1px 0 var(--color-primary), 1px 1px 0 var(--color-primary); */
}

.button[data-color="accent"] {
  background-color: var(--color-accent);
  color: var(--color-dark);
  /* text-shadow: -1px -1px 0 var(--accent-color), 1px -1px 0 var(--accent-color),
    -1px 1px 0 var(--accent-color), 1px 1px 0 var(--accent-color); */
}

.button[data-color="primary-dark"]:hover {
  filter: drop-shadow(1px 1px 2px var(--color-dark));
}
