.fluid-grid {
  --min: 30ch;
  --gap: var(--size-600);

  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
}

@media (min-width: 36rem) {
  .fluid-grid {
    --min: 20ch;
  }
}
