a,
a:visited {
  text-shadow: -1px -1px 0 var(--background-color),
    1px -1px 0 var(--background-color), -1px 1px 0 var(--background-color),
    1px 1px 0 var(--background-color);
  color: currentColor;
  background-image: linear-gradient(
      90deg,
      var(--background-color),
      var(--background-color)
    ),
    linear-gradient(90deg, var(--color-accent-dark), var(--color-accent-dark));
  background-repeat: no-repeat;
  background-position: -100% 105%, 0% 105%;
  background-size: 0px 0.2rem, 100% 0.2rem;
  text-decoration: none;
  transition: background-size 0.4s ease-in;
}

a:hover,
a:focus {
  /* color: var(--green); */
  background-repeat: no-repeat;
  background-position: 0% 105%, 0% 105%;
  background-size: 100% 0.2rem, 100% 0.2rem;
  text-decoration: none;
}

header a,
header a:visited,
footer a,
footer a:visited {
  background-image: linear-gradient(90deg, var(--color-dark), var(--color-dark)),
    linear-gradient(90deg, var(--color-accent-dark), var(--color-accent-dark));
  text-shadow: -1px -1px 0 var(--color-dark), 1px -1px 0 var(--color-dark),
    -1px 1px 0 var(--color-dark), 1px 1px 0 var(--color-dark);
}

a.button {
  background-image: none;
  text-shadow: none;
}

a[target="_blank"] {
  position: relative;
}

a[target="_blank"]:after {
  background: transparent url(/svg/external.svg) 0 0 no-repeat;
  background-size: 16px;
  content: "";
  display: inline-block;
  height: 16px;
  margin-left: 0.5ch;
  width: 16px;
}
