<footer class="footer">
    <div class="wrapper text-center flow">
        <div id="wcb-wrapper"></div>
        <div class="text-center">
            <p>Website Carbon Audits by
                <a data-target="external" href="https://www.fershad.com">Fershad Digital</a>
            </p>
            <p>
                <a href="{{ site.privacyURL }}">Privacy policy</a>
            </p>
        </div>
        <div class="text-center">
            <p>Copyright 2021 Fershad Digital
            </p>
            <small>Fershad Digital LTD is a company registered in Taiwan. Unified business number: 82954243</small>
        </div>
    </div>
</footer>

<script async src="/js/carbon-badge.mjs" type="module"></script>
<script async nomodule="" src="/js/carbon-badge.js"></script>