<footer class="footer">
    <div class="wrapper text-center">
        <div id="wcb-wrapper"></div>
        <p>Website Carbon Audits by
            <a href="https://www.fershad.com">Fershad Digital</a>
        </p>
        <p>
            <a href="{{ site.privacyURL }}">Privacy policy</a>
        </p>
        <p>Copyright 2021 Fershad Digital
        </p>
    </div>
</footer>

<script async src="/js/carbon-badge.mjs" type="module"></script>
<script async nomodule="" src="/js/carbon-badge.js"></script>