<header role="banner">
    <div class="wrapper">
        <div class="logo">
            <a href="{{ site.baseURL}}/" rel="home">
                Website Carbon Audit
            </a>
        </div>
    </div>
</header>
